.image-blur {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-blur img {
    transition: 0.4s;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    position: absolute;
    left: 0;
    top: 0;
}

.image-blur__large {
    opacity: 0;
}

.image-blur__large.loaded {
    filter: blur(0);
    opacity: 1;
}